* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.content {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding: 1rem;
}

.content h1 {
    font-size: 3rem;
    margin: 10 10;
    font-weight: bolder;
}

@media screen and (min-width: 992px) {
    body {
        background-color: #766f8c;
    }
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}